/* 画像を左右中央に配置 */
.center-image {
    display: flex;
    justify-content: center;
}

/* 画像を上下中央に配置 */
.center-image.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}